@tailwind base;
@tailwind components;
@tailwind utilities;

$background: url(../img/underwater.jpg);

body {
  background-image: $background;
  background-size: cover;
  background-repeat: no-repeat;
}
